<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESPN3Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ESPN3Library.Properties.Settings>
            <setting name="WMCAuthorizationKey" serializeAs="String">
                <value>3ce51f90-f6eb-437e-9680-802f20e0160e</value>
            </setting>
            <setting name="BaseVideoUrl" serializeAs="String">
                <value>http://espn.go.com/watchespn/player/_/id/{1}/</value>
            </setting>
            <setting name="BaseDataUrlAddition" serializeAs="String">
                <value>/index/_/sport/</value>
            </setting>
            <setting name="BaseDataUrl" serializeAs="String">
                <value>http://espn.go.com/watchespn/feeds/startup?action={0}&amp;channel=espn3&amp;rand={1}</value>
            </setting>
        </ESPN3Library.Properties.Settings>
    </applicationSettings>
</configuration>